<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Questions">
    <div class="form-container">
      <!-- Form Title Section -->
      <mat-card class="form-title-card">
        <mat-card-content class="row">
          <app-form-title-input></app-form-title-input>
          <app-form-title-input [isDescription]="true" placeholder="Form Description"></app-form-title-input>
         
        </mat-card-content>
      </mat-card>

      <!-- Question Card -->
      
    </div>
  </mat-tab>
  <mat-tab label="Responses">
    <div class="responses-container">
      <p>No responses yet</p>
    </div>
  </mat-tab>
  <mat-tab label="Settings">
    <div class="settings-container">
      <p>Form settings will go here</p>
    </div>
  </mat-tab>
</mat-tab-group>
