@use '@angular/material' as mat;

:host {
  @include mat.card-overrides((subtitle-text-color: black,
      elevated-container-color: white,
    ));
  @include mat.tabs-overrides((background-color: purple,
    ));
}

.form-container {
  width: 770px;
  margin: auto;
  overflow-x: auto;
}
::ng-deep mat-tab-group mat-tab-body{
    background-color: var(--mat-sys-primary-container);

}
@media (max-width: 771px) {
  .form-container {
    width: 100%;
    min-width: inherit;
  }
}