<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Questions">
    <div class="form-container d-flex justify-content-center align-items-center">
      <app-questions></app-questions>
    </div>
  </mat-tab>
  <mat-tab label="Responses">
    <div class="responses-container">
      <app-responses></app-responses>
    </div>
  </mat-tab>
  <mat-tab label="Settings">
    <div class="settings-container">
      <app-settings></app-settings>
    </div>
  </mat-tab>
</mat-tab-group>
