@use '@angular/material' as mat;

:host {
  @include mat.card-overrides((
    subtitle-text-color: black,
    elevated-container-color: white,
  ));
  @include mat.tabs-overrides((
    background-color: purple,
  ));
  display: block;
  height: calc(100vh - 64px); // Subtract header height
}

.form-container {
  width: 770px;
  margin: auto;
  overflow-x: auto;
  height: 100%;
}

::ng-deep {
  .mat-mdc-tab-group {
    height: 100%;
  }
  
  .mat-mdc-tab-body-wrapper {
    height: 100%;
  }
  
  mat-tab-body {
    background-color: var(--mat-sys-primary-container);
  }
}

@media (max-width: 771px) {
  .form-container {
    width: 100%;
    min-width: inherit;
  }
}