<div class="login-container">
  <mat-card>
    <mat-card-title class="mb-2">Login</mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter your email"
          formControlName="email"
        />
        <mat-icon matSuffix>mail</mat-icon>
        @if (loginForm.get('email')?.hasError('required')) {
        <mat-error> Email is required </mat-error>
        } @if (loginForm.get('email')?.hasError('email')) {
        <mat-error> Enter a valid email </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width" subscriptSizing="fixed">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          placeholder="Enter your password"
          formControlName="password"
        />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        @if (loginForm.get('password')?.hasError('required')) {
        <mat-error> Password is required </mat-error>
        } @if (loginForm.get('password')?.hasError('minlength')) {
        <mat-error> Minimum 6 characters </mat-error>
        }
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
      <div class="text-center">
        <button
          class="link-buttons"
          mat-button="filled"
          routerLink="/forgot-password"
        >
          Forgot Password?
        </button>
        <span> | </span>
        <button class="link-buttons" mat-button="filled" routerLink="/register">
          SignUp
        </button>
      </div>
    </form>
  </mat-card>
</div>
