@use '@angular/material' as mat;
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
  padding: 2rem;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}


// Customize the entire app. Change :root to your selector if you want to scope the styles.
.link-buttons {
  @include mat.button-overrides((
    text-horizontal-padding: 0.3rem,
    text-container-height: 1rem
  ));
}
// ::ng-deep .mat-mdc-form-field-hint-wrapper{
//   padding: 0 !important;
// }